{% extends 'base.html' %}

{% block title %}Adicionar Parâmetro{% endblock %}

{% block content %}
<div class="centeredContent">
    <div class="adminCard">
        <h1 class="title">Cadastrar Novo Parâmetro</h1>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p style="color: green;">{{ success }}</p>
        {% endif %}

        <form class="form" action="{{ url_for('add_parameter') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="formInputs">
                <div class="input">
                    <label for="name">Nome do Parâmetro</label>
                    <input type="text" name="name" id="name" required />
                </div>

                <div class="input">
                    <label for="unit">Unidade</label>
                    <input type="text" name="unit" id="unit" required />
                </div>

                <div class="input">
                    <label for="typeJson">Tipo JSON</label>
                    <select name="typeJson" id="typeJson" required>
                        <option value="number">Número</option>
                        <option value="temperature">Temperatura</option>
                        <option value="humidity">Umidade</option>
                        <option value="boolean">Booleano</option>
                    </select>
                </div>

                <div class="input">
                    <label for="decimalPlaces">Casas decimais</label>
                    <input type="number" name="decimalPlaces" id="decimalPlaces" min="0" max="10" required />
                </div>

                <div class="submit">
                    <input type="submit" value="CADASTRAR PARÂMETRO" />
                </div>
            </div>
        </form>
        <div class="submit">
            <div class="action-links">
                <a href="{{ url_for('parameters') }}">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    Voltar para Parâmetros
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
